<%= content_for :script do %>
  <script src="https://openlayers.org/en/v4.1.1/build/ol.js" type="text/javascript"></script>

  <script type="text/javascript">

    var sourceLayer = new ol.layer.Tile({
        source: new ol.source.OSM()
      });

    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        anchor: [0.5, 46],
        anchorXUnits: 'fraction',
        anchorYUnits: 'pixels',
        src: <%= raw image_path('map-marker-point.png').to_json %>
      }))
    });

    var features = [];

    <% @trip.points.each do|point| %>

      var iconFeature = new ol.Feature({
        geometry: new ol.geom.Point(
            ol.proj.fromLonLat([<%= point.long %>, <%= point.lat %>])),
        name: <%= raw point.name.to_json %>,
        });

      iconFeature.setStyle(iconStyle);

      features.push(iconFeature);

    <% end %>

    var vectorSource = new ol.source.Vector({
      features: features
    });

    var vectorLayer = new ol.layer.Vector({
      source: vectorSource
    });

    var layers = [sourceLayer, vectorLayer];

    var map = new ol.Map({
     layers: layers,
      target: document.getElementById('map'),
      view: new ol.View({
        center: [0, 0],
        zoom: 1
      })
    });

</script>
<% end %>

<%= content_for :style do %>
  <link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">
  <style>
    .map {
      height: 400px;
      width: 100%;
    }
  </style>
<% end %>

<h1><%= @trip.title %></h1>

<div id="map" class="map"></div>

<%= form_for [@trip, @point_creator] do |f| %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit %>
<% end %>

<div>Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC 3.0 BY</a></div>
