<%= content_for :script do %>
  <script src="https://openlayers.org/en/v4.1.1/build/ol.js" type="text/javascript"></script>

  <script type="text/javascript">

    var sourceLayer = new ol.layer.Tile({
        source: new ol.source.OSM()
      });

    <% if point = @trip.points.first %>

      var iconFeature = new ol.Feature({
        geometry: new ol.geom.Point(
            ol.proj.fromLonLat([<%= point.long %>, <%= point.lat %>])),
        name: <%= raw point.name.to_json %>,
        });

      var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
          anchor: [0.5, 46],
          anchorXUnits: 'fraction',
          anchorYUnits: 'pixels',
          src: 'https://openlayers.org/en/v4.1.1/examples/data/icon.png'
        }))
      });

      iconFeature.setStyle(iconStyle);

      var vectorSource = new ol.source.Vector({
        features: [iconFeature]
      });

      var vectorLayer = new ol.layer.Vector({
        source: vectorSource
      });

      var layers = [sourceLayer, vectorLayer];

      <% else %>

      var layers = [sourceLayer];

      <% end %>

      var map = new ol.Map({
        layers: layers,
        target: document.getElementById('map'),
        view: new ol.View({
          center: [0, 0],
          zoom: 3
        })
      });

  </script>
<% end %>

<%= content_for :style do %>
  <link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">
  <style>
    .map {
      height: 400px;
      width: 100%;
    }
  </style>
<% end %>

<h1><%= @trip.title %></h1>

<div id="map" class="map"></div>

<%= form_for [@trip, @point_creator] do |f| %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit %>
<% end %>
